.customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.students {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    width: 800px;
    height: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.user-info {
    display: flex;
    align-items: center;
    margin: 40px;
}

.info-and-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left {
    left: 0px;
    padding-left: 20px;
}

.arrow.right {
    right: 0px;
    padding-right: 20px;
}

.students > button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
}

.students > button:focus {
    outline: none;
}