.teacher {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.teacher-image-container {

}

.teacher-image {
    max-width: 400px;
}

.teacher-bio {
    padding-left: 6%;
}

p.job-title{
    font-size: 16px;
    color: #454545;
}

p.biography{

}

p.university{
    font-size: 16px;
    color: #454545;
}